*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
background-image: url("../image/hero.png");
  background-size: cover;
}

.wrapper{
  display: flex;
  position: relative;
}

.clearfix {
    overflow: auto;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: #F76C6C;
  padding: 30px 0px;
  position: fixed;
   opacity: 1;
}

.wrapper .sidebar h2{
  color: white;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: white;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: white;
  opacity: 1;
}
    
.wrapper .sidebar ul li:hover a{
  color: #000000;
}
 

.wrapper .main{
  width: 100%;
  margin-left: 200px;
  
}

.wrapper .main .navbar{
  padding: 20px;
background-color: #30c9e9;
 background-image: repeat;
  border-bottom: 1px solid #e0e4e8;
  line-height: 0px;
}

.navbar .btn{
    background-color:#F76C6C;
    color: white;
    border: none;
    text-align: center;
    padding: 15px 32px;
  border-radius: 10px;
}

.navbar .reset {
    margin-left: 70%;
}

.navbar .btn:hover{
    background-color: white;
    color: black;
}


.wrapper .main .main_content{
  margin: 20px;
  color: white;
  line-height: 25px;
  margin-bottom: 20px;
  line-height: 0px;
  
}

.wrapper .main .main_content h1{
    margin: auto;
    color: Black;
    text-align: center;
    width: 100%;
    font-size: 40px;
    padding-top: 50px;
}
.wrapper .main .main_content .willkommen b{
  color: #F76C6C;
}

.main {

    width: auto;
    height: 100%;
    margin: 50px 100px 50px 100px;
	margin-left: 30px;
	font-size: 14px;
	
}

.user_content {

    width: auto;
    height: 100%;
    margin-left: 40px;;
	
}

table{
	 box-shadow: 0px 5px 10px rgba( 0, 0, 0, 0.2 );
	border-radius: 5px;
}
table, tr {
  border: 4px black;
  border-radius: 7px;
}

tr, td {
  padding: 13px;
  border-radius: 7px;
}
tr:hover
tr:nth-child(even):hover {background-color: #557A95;}
tr:nth-child(1){
	background-color: #557A95;
	font-size: 16px;
	font-weight: bold;
	color: white;
	}
tr:nth-child(even) {background-color: #f2f2f2;}





a.down{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-family: sans-serif;
  text-decoration: none;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

a.down{
  position: relative;
  z-index: 2;
}

a.down:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all .35s;
}

a.down:hover{
  color: #fff;
}

a.down:hover:after{
  width: 100%;
}



a.delete{
  display: block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  font-family: sans-serif;
  text-decoration: none;
  border: 2px solid #333;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

a.delete{
  position: relative;
  z-index: 2;
}

a.delete:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  transition: all .35s;
}

a.delete:hover{
  color: #fff;
}

a.delete:hover:after{
  width: 100%;
}